table,th,td {
    border: 1px solid #8dff9c;
    background-color: #8dff9c;
    padding: 5px;
}
.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
tr {
    border: 1px solid #8dff9c;
    background-color: #8dff9c;
}
.flex {
    display: flex;
    flex-direction: row;
 }